<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Sobrevuelo ISS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9A37C3241C1F671F00C4435C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A37C33D1C1F671F00C4435C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9A37C3481C1F671F00C4435C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
